<section class="pricing">
  <div class="pricing__container">

    <header class="pricing__header">
      <h2>Preços</h2>
      <p>
        A LicitaNow também oferece serviços directamente, como alternativa aos concurso. Valorizamos a transparência e,
        por isso, divulgamos os nossos preços de forma clara, como apresentado na tabela abaixo.
      </p>

      <div class="pricing__note">
        <span>ℹ️</span>
        <p>
          Em alguns casos especiais, os valores podem variar. Nestes casos, a LicitaNow apresenta sempre um orçamento ao
          utilizador, e apenas será efectuado qualquer débito se o utilizador aceitar o orçamento e confirmar o
          pagamento.
        </p>
      </div>
    </header>

    <div class="pricing__table">
      <div class="pricing__row header">
        <span>Serviço</span>
        <span>Valor (€)</span>
      </div>

      <div class="pricing__row">
        <span>Consultoria Arquitetónica</span>
        <span>8</span>
      </div>

      <div class="pricing__row">
        <span>Projeto de arquitetura - Estudo preliminar</span>
        <span>220</span>
      </div>

      <div class="pricing__row">
        <span>Projeto das especialidades</span>
        <span>180</span>
      </div>

      <div class="pricing__row">
        <span>Revisão e Aprovação de Projetos</span>
        <span>250</span>
      </div>

      <div class="pricing__row">
        <span>Elaboração de Tela Final</span>
        <span>16</span>
      </div>

      <div class="pricing__row">
        <span>Elaboração da Ficha Técnica de Habitação</span>
        <span>8</span>
      </div>

      <div class="pricing__row">
        <span>Preenchimento de Modelo 1 do IMI</span>
        <span>6</span>
      </div>

      <div class="pricing__row">
        <span>Acompanhamento e Fiscalização de Obra</span>
        <span>4</span>
      </div>

      <div class="pricing__row">
        <span>Elaboração de Relatórios Técnicos</span>
        <span>10</span>
      </div>

      <div class="pricing__row">
        <span>Elaboração de Mapa de Quantidades</span>
        <span>5</span>
      </div>

      <div class="pricing__row">
        <span>Elaboração da Propriedade Horizontal</span>
        <span>6</span>
      </div>

      <div class="pricing__row">
        <span>Projeto de Segurança e Saúde</span>
        <span>4</span>
      </div>

      <div class="pricing__row">
        <span>Planeamento de Obra <small>* por trabalho</small></span>
        <span>10</span>
      </div>

      <div class="pricing__row">
        <span>Consultadoria de Obra <small>* por parcela</small></span>
        <span>10</span>
      </div>

      <div class="pricing__row">
        <span>Destaque de Parcela <small>* por parcela</small></span>
        <span>12</span>
      </div>

      <div class="pricing__row">
        <span>Download de Ficheiros de Arquivo <small>* por GB</small></span>
        <span>2</span>
      </div>
    </div>

  </div>
</section>